
:root {
	--quay: #eb6f1d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	display: flex;
	justify-content: center;
	padding: 5vw;

	font-family: sans-serif;
	color: #fff;
	background: #111;
}

body {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.title {
	text-align: center;
	text-shadow: 2px 2px 5px #00ffe7;
}
